.button {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgb(35, 39, 47);
	background-color: rgb(29, 32, 39);
	color: white;
	font-size: 1.2rem;
	cursor: pointer;

	&:hover {
		background-color: rgb(25, 27, 33);
	}
}
